@config "../../tailwind.config.js";
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --background: #fdfdfd;
   --foreground: #2E2E2F;
   --spacing: 0.25rem;
   --radius-lg: 0.5rem;
   --text-theme-sm--line-height: 20px;
   --text-theme-sm: 14px;
   --tw-leading: 18px;
   --font-weight-medium: 800;
   --input-bg: #fff;
}

@theme inline {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --font-karla: var(--font-karla);
}

@media (prefers-color-scheme: dark) {
   :root {
      --background: #19202d;
      --foreground: #F0F0F0;
   }
}

body {
   background: var(--background);
   color: var(--foreground);
   font-family: var(--font-karla), Arial, sans-serif;
}
.acrilico {
   background: rgba(255, 255, 255, 0.267);
   backdrop-filter: blur(1px);
}
@layer utilities {
   .menu-dropdown-item {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: calc(var(--spacing) * 3);
      border-radius: var(--radius-lg);
      padding-inline: calc(var(--spacing) * 3);
      padding-block: calc(var(--spacing) * 2.5);
   }

   .no-scrollbar {
      &::-webkit-scrollbar {
         display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
   }

   .menu-item {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: calc(var(--spacing) * 3);
      border-radius: var(--radius-lg);
      padding-inline: calc(var(--spacing) * 3);
      padding-block: calc(var(--spacing) * 2);
      font-size: var(--text-theme-sm);
      line-height: var(--tw-leading, var(--text-theme-sm--line-height));
      --tw-font-weight: var(--font-weight-medium);
      font-weight: var(--font-weight-medium);
   }
}
input:-webkit-autofill {
   box-shadow: 0 0 0 1000px var(--input-bg) inset !important;
 }

@media (prefers-color-scheme: dark) {
   input:-webkit-autofill {
      box-shadow: 0 0 0 1000px #1e2939 inset !important;
      -webkit-text-fill-color: #fff !important;
    }
}
